body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #aaa;
    font-size: 18px;
}

h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
}
#chat-button {
  z-index:5;
  position:fixed;
  bottom:0px;
  right:100px;
  margin:0 auto;
  opacity:1;
  transition: bottom .5s ease 0s;
}

#user-chatbox {
  position:fixed;
  bottom:-400px;
}

#chat-window {
  width:350px;
  position:fixed;
  right:1px;
  bottom:-304px;
  transition: bottom 1.5s ease 0s;
}

.scroll-div {
  height:200px;
  max-width:100%;
  overflow-y:auto;
  overflow-x:hidden;
}

.table {
  margin-bottom:50px;
}

#user-info-modal {
  position:fixed;
  width:350px;
  right:1px;
  bottom:-250px;
  transition: bottom 1.5s ease 0s;
}

.chatbox {
  display:none;
}

.panel {

}
